.wrapper {
	min-height: 100vh;
	display: flex;
	font-family: 'Open Sans Condensed', sans-serif;
	background-color: #39cccc;
	font-size: 16px;
}

.start-game {
	display: block;
} 

.play-game, .end-game {
  display: none;
}



.quize {
	width: 60%;
	margin: auto;
	text-align: center;
	padding: 5%;
	background-color: #7fdbff;
	border: 2px solid #0074d9;
	border-radius: 15px;
}

.title {
	font-size: 4em;
	font-weight: 700;
}

.description,
.play-game {
	font-size: 2.5em;
	margin: 1em 0;
	line-height: 1.5;
}

.example {
	margin: 1em 0;
}

.progress-bar {
	height: 15px;
	width: 100%;
	border-radius: 10px;
	border: 1px solid #0074d9;

	&-condition {
		background-color: #0074d9;
		border-radius: 10px;
		height: 100%;
		transition: all 0.1s linear;
	}
}

/*.progress-bar-condition {
	background-color: #0074d9;
	border-radius: 10px;
	height: 100%;
	transition: all 0.1s linear;
}*/

.button {
	display: inline-block;
	margin: 0 auto;
	padding: .3em 1em;
	border-radius: 5px;
	background-color: #39cccc;
	font-weight: 700;
	width: 100px;
	height: 100px;
	background-size: contain;
	border-radius: 50%;
	cursor:pointer;
	transition: all .3s linear;
}

.button:focus {
	outline: none;
}

.restart {
	margin-top: 30px;
}

.start {
	background-image: url(../assets/start.png);
}

.yes {
	background-image: url(../assets/yes.png);
}

.no {
	background-image: url(../assets/no.png);
}

.restart {
	background-image: url(../assets/restart.png);
}

.button:hover {
	transform: translate(0, 0);
	box-shadow: 0px 0px 30px rgba( 0, 0, 0, .5);
	transition: all .3s linear;
}
