doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1", crossorigin="anonymous")
  body
    .wrapper

      .settings
        i.fa.fa-cogs.fa-3x(aria-hidden='true')
      .quize
        .start-game
          h1.title Math quize
          p.description.
            Solve the task, if it is correct - press Yes, otherwise - No. You have only 5 sec to think. Good luck!
          .start.button
        .play-game
          .progress-bar
            .progress-bar-condition
          .example
            span.a-value
            span.operation
            span.b-value 
            span  = 
            span.answer
          form.task-solution
            .yes.button.action-buttons
            .no.button.action-buttons
        .end-game
          p.description End game. Your score is 
            span.score
          .restart.button
